{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{%static 'general/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'general/css/styles.css'%}">
    <link rel="stylesheet" href="{%static 'general/css/stream.css'%}">

</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <header class="header">

        <section class="flex">

            <a href="/home" class="logo">GrooveLearn</a>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
               <div id="toggle-btn" class="fas fa-sun"></div>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                <img src="{%static 'general/images/pic-1.jpg'%}" class="image" alt="">
                <h3 class="name">{{ user.username }}</h3>
                <!-- <p class="role">{{user.role}}</p> -->
                <div class="flex-btn">
                    <a href="/profile" class="btn">view profile</a>
                    <a href="/logout" class="option-btn">logout</a>
                </div>
                {% else %}
                <div class="flex-btn">
                    <a href="/login" class="option-btn">login</a>
                    <a href="/register" class="option-btn">register</a>
                    <div class="flex-btn">
                        {% endif %}
                    </div>
                </div>

        </section>

    </header>

    <div class="side-bar">

        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>
        {% if user.is_authenticated %}
        <div class="profile">
            <a href="/profile"><img src="{% static 'general/images/pic-1.jpg' %}" class="image" alt=""></a>
        </div>
        {% endif %}

        <nav class="navbar">
            <a href="/home"><i class="fas fa-home"></i></a>
            <a href="/courses"><i class="fas fa-graduation-cap"></i></a>
           <!--  <a href="/calender"><i class="fa-solid fa-calendar-days"></i></a> -->
            <a href="/leaderboard"><i class="fa-solid fa-ranking-star"></i></a>
        </nav>

    </div>
    <div class="container">
        <!-- <h1><img width="35" height="35" src="https://img.icons8.com/ios/50/course-assign.png" alt="course-assign" />
            Submit Assignment</h1> -->
        <form action="/submitassignment/{{ assignment.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="left">
                <h1><label for="title">{{ assignment.title }}</label></h1>
                <h2><label for="description">Description:</label></h2>
                <p>{{assignment.description}}</p>
                {% if assignment.file %}
                <h6><a href="{{ assignment.file.url }}">Download File</a></h6>
                {% endif %}
                {% if is_teacher_of_course%}
                <a href="/gradeassignments/{{assignment.id}}/">
                    <div class="createpostgreen">
                        <h5>Submissions</h5>
                    </div>
                </a>
                {% endif %}
            </div>
            {%if not is_teacher_of_course%}
            <div class="right">
                <h2><label for="file">Your Work</label></h2>
                <div class="inline">
                    <div class="due">
                        Due: {{assignment.due_date|date:"d/m/Y" }}
                    </div>
                    <h3><img width="20" height="20" src="https://img.icons8.com/emoji/48/star-emoji.png"
                            alt="star-emoji" />
                        {% if score %}
                        {{ score }}/25
                        {%else%}0/25</h3>
                    {% endif %}
                </div>
                {% if submission.file %}
                <a href="{{submission.file.url}}">Submitted File</a>
                {% endif %}
                {% if not score %}
                <div class="options">
                    <input type="file" value="Add Documents" id="upload-button" class="option" name="file">
                </div>
                <input type="submit" value="Turn In" class="submit-btn">
                {% else %}
                <div class="options">
                    <button disabled>
                        <h3>+ Add Documents</h3>
                    </button>
                </div>
                <button disabled>Turn In</button>
                {% endif %}
            </div>
            {%endif%}
        </form>
    </div>
    <div class="blank">
    </div>
    <footer class="footer">

        &copy; copyright @ 2024 by <span>Group 16</span> | all rights reserved!

    </footer>

    <script src="{%static 'general/js/script.js'%}"></script>

</body>

</html>