{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <link rel="stylesheet" href="{%static 'authentication/css/style.css'%}">

</head>

<body>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <header class="header">

        <section class="flex">

            <a href="/home" class="logo">GrooveLearn.</a>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="toggle-btn" class="fas fa-sun"></div>
            </div>

            <div class="profile">
                <div class="flex-btn">
                    {% if user.is_authenticated %}
                    <a href="/logout" class="option-btn">logout</a>
                    {% else %}
                    <a href="/login" class="option-btn">login</a>
                    <a href="/register" class="option-btn">register</a>
                    {% endif %}
                </div>
            </div>

        </section>

    </header>

    <div class="side-bar">

        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>

        {% if user.is_authenticated %}
        <div class="profile">
            <h3 class="name">Welcome, {{ user.username }}</h3>
            <a href="/profile" class="btn">view profile</a>
        </div>
        {% endif %}

        <nav class="navbar">
            <a href="/home"><i class="fas fa-home"></i><span>home</span></a>
            <a href="/courses"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
            <a href="/ranking"><i class="fas fa-chalkboard-user"></i><span>Ranking</span></a>
        </nav>

    </div>

    <section class="user-profile">

        <h1 class="heading">your profile</h1>

        <div class="info">

            <div class="user">
                <img src="images/pic-1.jpg" alt="">
                <h3>{{user.username}}</h3>
                <p>student</p>
                <a href="update.html" class="inline-btn">update profile</a>
            </div>

            <div class="box-container">

                <div class="box">
                    <div class="flex">
                        <i class="fas fa-bookmark"></i>
                        <div>
                            <span>4</span>
                            <p>Rank</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="flex">
                        <i class="fas fa-heart"></i>
                        <div>
                            <span>33</span>
                            <p>total solved</p>
                        </div>
                    </div>

                </div>

                <div class="box">
                    <div class="flex">
                        <i class="fas fa-comment"></i>
                        <div>
                            <span>1234</span>
                            <p>total points</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <footer class="footer">

        &copy; copyright @ 2024 by <span>Group 16</span> | all rights reserved!

    </footer>

    <script src="{%static 'authentication/js/script.js'%}"></script>


</body>

</html>